.main-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-about-div {
    width: 500px;
    flex-direction: column; /* 수직 방향으로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
}

.main-about-hr {
    padding : 20px;
}

.main-about-img {
    display: flex;
    width : 30%;
}

.main-about-h {
    display: flex;
}
