/* MainScroll.css */

.scroll-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.scroll-container-max-width {
    width: 100%;
    max-width: 1280px;
}

.scroll-content {
    background-image: linear-gradient(to right, #888888 0%, #DBF3FB 2%, #DBF3FB 98%, #888888);
    background-color: #DBF3FB;
}

.img-fluid {
    width: 500px;
    max-width: 100%;
    height: auto;
}


