.comment-box {
    position : relative;
    box-sizing: content-box;
    margin-left : 2px;
    flex-direction: column;
    border : solid 1px lightgray;
    border-radius : 4px;
    background: #eee;
    margin-top : 10px;
    width : 1200px;
    height : auto;
    padding : 10px 5px 0 5px;
    min-width : 1200px;
}

.comment-group {
    display : flex;
    padding : 5px 0 15px 0;
    flex-shrink : 0;    /* 창 크기가 줄어들어도 크기를 유지함 */
    min-width : 1200px;
}

.input-group textarea {
    height : auto;
    overflow : hidden;  /* 입력값이 칸 크기를 넘어갔을 때 자동으로 생기는 스크롤을 없앰 */
    resize: none;    /* 사용자가 임의로 textarea의 크기를 조절할 수 없음 */
}

.input-group .userid {
    margin-right : 10px;
    text-align: left;
    width : 10%;
    border : none;
    background : none;
}

.input-group .commentContent {
    height : auto;
    width : 850px;
    overflow : hidden;  /* 입력값이 칸 크기를 넘어갔을 때 자동으로 생기는 스크롤을 없앰 */
    resize: none    /* 사용자가 임의로 textarea의 크기를 조절할 수 없음 */
}

.btns {
    position : absolute;
    right : 40px;
    bottom : 13px;
}
.btns Button{
    width : 50px;
    height : 30px;
    font-size : 14px;
    margin-right : 10px;
    padding: 0;
}
