.logoimg img{
    width : 30%;
    margin-top : -150px;
}
/* 페이드 */
.fader {
    position: relative;
    width: 100%; /* 슬라이더 전체 너비 */
    height: 400px; /* 슬라이더 높이 */
    overflow: hidden; /* 슬라이더 범위를 벗어나는 부분 숨김 */
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* 부드러운 페이드 효과 */
}

.fade.active {
    opacity: 1; /* 활성 슬라이드만 보이도록 설정 */
}

img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* 버튼 배경색 */
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}